<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.waiter.ordertaking">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderTakingApp"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,UnusedAttribute">
        <activity
            android:name="com.waiter.ordertaking.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.waiter.ordertaking.admin.AdminRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />
        <activity
            android:name="com.waiter.ordertaking.waiter.WaiterAdminRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />
        <activity
            android:name="com.waiter.ordertaking.waiter.WaiterAdminNewRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />
        <activity
            android:name="com.waiter.ordertaking.kitchen.KitchenAdminRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />
        <activity
            android:name="com.waiter.ordertaking.kitchen.KitchenAdminNewRequestActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.SoSAdminActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.SoSWaiterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.SoSActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.PaymentDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.OrderDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.KitchenUserDetailView"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.KitchenUserDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.AdminOrderDetailListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.AdminOrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.ChefOrderDetailListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.ChefOrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.admin.TableListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.WaiterOrderDetailListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.WaiterOrderListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.WaiterDetailsView"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.WaiterDetails"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.NotificationDetail"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.NotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.kitchen.KitchenNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.waiter.WaiterNotificationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.TableItemListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.KitchenTakingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.CatagActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.WaiterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.DashBoardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />

        <activity android:name="com.waiter.ordertaking.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.OrderTakingApp" />


    </application>

</manifest>